# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# IDE / editor files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Project data
data/raw/*
data/processed/*

# Keep empty data folders
!data/raw/.gitkeep
!data/processed/.gitkeep

# Generated outputs
outputs/figures/*
outputs/maps/*

# Keep output folders
!outputs/figures/.gitkeep
!outputs/maps/.gitkeep

# Logs and temporary files
*.log
*.tmp